<h2>Your Cart</h2>

<% if @cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.product.price) %></td>
          <td><%= number_to_currency(item.subtotal) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>Total: <%= number_to_currency(@cart.cart_items.sum { |item| item.product.price * item.quantity }) %></p>

  <%= link_to 'Continue Shopping', dashboard_index_path, class: 'btn btn-primary' %> | 
  <%= link_to 'Checkout', new_order_path, class: 'btn btn-success' if @cart.cart_items.any? %>
<% else %>
  <h2>Your Cart is empty</h2>
<% end  %>